@import "styles/variables";
@import "styles/mixins";

.wrapper {
  width: $width-414px;

  @media (max-width: $tablet) {
    width: $width-100pr;
  }
}

.image {
  margin-bottom: $margin-36px;
  position: relative;
  width: $width-100pr;
  aspect-ratio: 4/3;
}

.info {
  margin-bottom: $margin-36px;
  font-size: $fontSize-14px;
  color: $dark-gray-color;
  font-weight: $fontWeight-500;

  a {
    color: $purple-color;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $dark-yellow-color;
    }
  }
}

.title {
  margin-bottom: $margin-36px;
  font-size: $fontSize-28px;
  color: $primary-color;
  font-weight: $fontWeight-700;
  line-height: 40px;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $dark-yellow-color;
  }

  @media (max-width: $tablet) {
    font-size: $fontSize-22px;
    line-height: 28px;
  }
}

.preview {
  font-size: $fontSize-16px;
  color: $dark-gray-color;
  line-height: 28px;

  @media (max-width: $tablet) {
    font-size: $fontSize-14px;
    line-height: 22px;
  }
}
