@import "styles/variables";
@import "styles/mixins";

.wrapper {
  margin-bottom: $margin-36px;
  width: $width-250px;
  height: fit-content;

  @media (max-width: $tablet) {
    width: $width-100pr;
  }
}

.title {
  text-align: center;
  margin-bottom: $margin-22px;
  font-size: $fontSize-32px;
  color: $primary-color;
  font-weight: $fontWeight-700;
  line-height: 42px;
  letter-spacing: -2px;
}

.tagWrapper {
  @include flex-center-center;
  width: $width-100pr;
  flex-wrap: wrap;
}

.tag {
  @include flex-center-center();
  margin-bottom: $margin-22px;
  margin-left: $margin-22px;
  padding: $padding-16xp;
  height: $height-30px;
  width: fit-content;
  border: 2px solid $medium-gray-color;
  border-radius: 32px;
  color: $medium-gray-color;
  font-size: $fontSize-14px;
  font-weight: $fontWeight-700;
  cursor: pointer;

  &:hover {
    border: 2px solid $dark-yellow-color;
  }
}


.selected {
  color: $yellow-color;
  border: 2px solid $yellow-color;
}
