@import "styles/variables";
@import "styles/mixins";

.wrapper {
  margin-bottom: $margin-xs;
  width: $width-250px;
  height: fit-content;

  @media (max-width: $tablet) {
    width: $width-xxl;
  }
}

.title {
  text-align: center;
  margin-bottom: $margin-xxxs;
  font-size: 32px;
  color: $primary-color;
  font-weight: $fontWeight-m;
  line-height: 42px;
  letter-spacing: -2px;
}

.tagWrapper {
  @include flex-center-center;
  width: $width-xxl;
  flex-wrap: wrap;
}

.tag {
  @include flex-center-center();
  margin-bottom: $margin-xxxs;
  margin-left: $margin-xxxs;
  padding: $padding-16xp;
  height: 32px;
  width: fit-content;
  border: 2px solid $medium-gray-color;
  border-radius: 32px;
  color: $medium-gray-color;
  font-size: $fontSize-xxxs;
  font-weight: $fontWeight-m;
  cursor: pointer;

  &:hover {
    border: 2px solid $dark-yellow-color;
  }
}


.selected {
  color: $yellow-color;
  border: 2px solid $yellow-color;
}
