@import "styles/variables";
@import "styles/mixins";

.wrapper {
  margin: $margin-36px auto $margin-36px;
}

.title {
  margin-bottom: $margin-22px;
  font-size: $fontSize-36px;
  font-weight: $fontWeight-700;
  line-height: 48px;
  letter-spacing: -2px;
  color: $primary-color;

  @media (max-width: $tablet) {
    font-size: $fontSize-22px;
    font-weight: $fontWeight-600;
  }
}

.title.center {
  text-align: center;
}

.title.left {
  text-align: left;
}

.content {
  @include flex-center-center;
  gap: $gap-20;
  flex-wrap: wrap;

  @media (max-width: $tablet) {
    flex-direction: column;
    justify-content: center;
  }
}
