@import "styles/variables";
@import "styles/mixins";

.container {
  position: fixed;
  z-index: $zIndex-10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: $opacity-08;
  background-color: $gray-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $width-100pr;
  height: $height-100pr;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  display: inline-block;
  width: $width-10pr;
  height: $height-10pr;
  border: 2px solid $dark-yellow-color;
  border-top-color: $purple-color;
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
}
