@import "styles/variables";
@import "styles/mixins";

.wrapper {
  margin-bottom: $margin-36px;
  width: $width-100pr;
  padding: $padding-46px 0;
  color: $white-color;
}

.header {
  margin: 0 auto;
  padding-left: $padding-46px;

  @media (max-width: $tablet) {
    padding-left: 0;
    width: fit-content;
    text-align: center;
  }
}

.label {
  margin-bottom: $margin-22px;
  font-size: $fontSize-16px;
  font-weight: $fontWeight-500;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;

  a {
    margin-left: $margin-5px;
    color: $white-color;
    font-weight: $fontWeight-900;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      color: $yellow-color;
    }
  }

  @media (max-width: $tablet) {
    margin-bottom: $margin-36px;
    font-size: $fontSize-12px;
    line-height: 14px;
  }
}

.title {
  margin-bottom: $margin-22px;
  display: block;
  width: $width-100pr;
  font-size: $fontSize-56px;
  font-weight: $fontWeight-700;
  line-height: 64px;
  letter-spacing: -2px;
  color: $white-color;
  transition: all 0.8s;
  cursor: pointer;

  &:hover {
    color: $yellow-color;
  }

  @media (max-width: 975px) {
    font-size: $fontSize-36px;
  }


  @media (max-width: $tablet) {
    font-size: $fontSize-36px;
    font-weight: $fontWeight-600;
    line-height: 44px;
    width: fit-content;
  }
}

.preview {
  text-align: left;
  margin-bottom: $margin-22px;
  width: $width-100pr;
  font-size: $fontSize-18px;
  line-height: 28px;

  @media (max-width: $tablet) {
    margin-bottom: $margin-36px;
    margin-left: $margin-36px;
    font-size: $fontSize-12px;
    line-height: 14px;
    width: fit-content;
  }
}

.info {
  margin-bottom: $margin-22px;
  font-size: $fontSize-14px;
  font-weight: $fontWeight-500;
  color: $white-color;

  a {
    color: $yellow-color;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $purple-color;
    }
  }
}

.button {
  @include flex-center-center();
  width: $width-200px;
  height: $height-56px;
  background: $yellow-color;
  font-size: $fontSize-18px;
  font-weight: $fontWeight-700;
  color: $primary-color;
  line-height: 24px;
  transition: transform 250ms;
  cursor: pointer;

  &:hover {
    background-color: $dark-yellow-color;
    transform: translateX(10px);
  }

  @media (max-width: $tablet) {
    margin: 0 auto;
  }
}
