@import "styles/variables";
@import "styles/mixins";

.navMenu {
  @include flex-between-center();
  width: $width-100pr;
  gap: $gap-30;
  height: $height-100pr;

  a {
    color: $white-color;
    transition: transform 250ms;

    &:hover {
      color: $yellow-color;
      transform: translateY(-3px);
    }
  }
}

.active {
  text-decoration: underline;
  text-decoration-color: $yellow-color;
  text-underline-offset: 10px;
}

.burger {
  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;

  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }

  @media (max-width: $tablet) {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.linkItem {
  max-width: $width-110px;
}

.button {
  @include flex-center-center;
  width: $width-150px;
  height: fit-content;
  background-color: $white-color;
  padding: $padding-10px $padding-12px;
  margin-left: $margin-22px;
  font-size: $fontSize-16px;
  font-weight: $fontWeight-500;
  color: $primary-color;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $yellow-color;
  }

  @media (max-width: $tablet) {
    margin: 0 auto $margin-36px;
    width: $width-150px;
    height: 30px;
    font-size: $fontSize-14px;
  }
}

.video_wrapper {
  @include flex-center-center();
  position: fixed;
  width: $width-50vw;
  height: $height-50vh;
  left: 0;
  bottom: 0;
  background-color: $translusent-color;
  backdrop-filter: blur(4px);
  z-index: $zIndex-2000;
  opacity: $opacity-1;
}

.video {
  border: none;
}
