@import "styles/variables";
@import "styles/mixins";

.wrapper {
  width: $width-110px;
}

.switcher {
  @include flex-between-center();
  font-size: $fontSize-16px;
  text-transform: uppercase;
}

.currentLng {
  color: $yellow-color;
}

