@import "styles/variables";
@import "styles/mixins";

.header {
  @include flex-between-center();
  height: $height-76px;
  width: $width-100pr;
  background-color: $primary-color;
  color: $white-color;
  z-index: $zIndex-3000;

  @media (max-width: $tablet) {
    height: fit-content;
    padding: $padding-20px;
  }
}

.wrapper {
  @include flex-between-center();
  margin: 0 auto;
  padding: 0 $padding-46px;
  width: $width-100pr;

  @media (max-width: $tablet) {
    height: fit-content;
    padding: 0;
  }
}

.navbar {
  @include flex-between-center();
  width: $width-100pr;
  gap: $gap-70;

  @media (max-width: $tablet) {
    gap: 0;
  }
}

.title {
  font-size: $fontSize-22px;
  font-weight: $fontWeight-700;
  color: $white-color;

  @media (max-width: 780px) {
    font-size: $fontSize-18px;
  }

  @media (max-width: $tablet) {
    font-size: $fontSize-22px;
  }
  @media (max-width: $mobile) {
    font-size: $fontSize-18px;
  }
}

.menuItem {
  @include flex-between-center();
  width: $width-700px;

  @media (max-width: $tablet) {
    display: none;
  }
}

.menuBurger {
  @media (min-width: $tablet) {
    display: none;
  }
}
