@import "styles/variables";
@import "styles/mixins";

.wrapper {
  margin-top: $margin-36px;
  margin-right: $margin-36px;
  border: 1px solid $gray-color;
  padding: $padding-22px;

  @media (max-width: $tablet) {
    margin-right: 0;
  }
}

.image {
  margin-bottom: $margin-36px;
  position: relative;
  margin: 0 auto;

  aspect-ratio: 16/9;
}

.info {
  margin-top: $margin-36px;
  margin-bottom: $margin-22px;
  font-size: $fontSize-14px;
  font-weight: $fontWeight-500;
  color: $medium-gray-color;

  a {
    color: $dark-yellow-color;

    &:hover {
      text-decoration: underline;
      text-decoration-color: $dark-yellow-color;
      text-underline-offset: 5px;
    }
  }

  @media (max-width: $mobile) {
    font-size: $fontSize-12px;
    line-height: 16px;
  }
}

.title {
  margin-bottom: $margin-22px;
  display: block;
  font-size: $fontSize-28px;
  color: $primary-color;
  font-weight: $fontWeight-700;
  line-height: 40px;
  letter-spacing: -1px;

  @media (max-width: $mobile) {
    font-size: $fontSize-22px;
    font-weight: $fontWeight-600;
    line-height: 32px;
  }
}

.preview {
  margin-bottom: $margin-36px;
  font-size: $fontSize-16px;
  color: $medium-gray-color;
  line-height: 28px;

  @media (max-width: $mobile) {
    font-size: $fontSize-12px;
    line-height: 16px;
  }
}

.button {
  @include flex-center-center();
  margin-top: $margin-36px;
  width: $width-150px;
  height: $height-56px;
  background: $yellow-color;
  font-size: $fontSize-18px;
  font-weight: $fontWeight-700;
  line-height: 24px;
  color: $primary-color;
  transition: transform 250ms;
  cursor: pointer;

  &:hover {
    background-color: $dark-yellow-color;
    transform: translateX(10px);
  }
}
