@import "styles/variables";
@import "styles/mixins";

.modal {
  @include flex-center-center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: $width-100vw;
  height: $height-100vh;

  opacity: $opacity-1;
  background-color: $black-opacity-color;

  transition: 0.4s;
  overflow-y: auto;
  z-index: $zIndex-3010;
}

.modalActive {
  pointer-events: none;

  transform: scale(0.5);

  opacity: $opacity-0;
}

.modalContent {
  transition: 0.4s all;
}

.modalContentActive {
  @include flex-center-center;
  transform: scale(1);
  width: $width-50vw;
  height: $height-90vh;
  flex-direction: column;
  border-radius: 10px;
  overflow-y: auto;
  z-index: $zIndex-3020;

  @media (max-width: $tablet) {
    width: $width-70vw;
    height: $height-70vh;
  }
}
