@import "styles/variables";

.burgerMenu {
  @media (max-width: $tablet) {
    display: flex;
    width: $width-40px;
    margin-left: $margin-20px;
    flex-direction: column;
    justify-content: center;
    grid-area: 1 / 2 / 2 / 3;
    grid-gap: $gap-5;
    align-items: flex-end;
    height: $height-50pr;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }

  &.open {
    div:first-child {
      transform: rotate(45deg);
    }

    div:nth-child(2) {
      opacity: 0;
      transform: translateX(20px);
    }

    div:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
}

.burgerMenu div {
  position: relative;
  z-index: $zIndex-5000;
  width: $width-30px;
  height: $height-4px;
  border-radius: 4px;
  transition: all 0.3s linear;
  transform-origin: 1px;
  background-color: $white-color;

  &:first-child {
    transform: rotate(0);
  }

  &:nth-child(2) {
    opacity: $opacity-1;
    transform: translateX(0);
  }

  &:nth-child(3) {
    transform: rotate(0);
  }
}
