@import "styles/variables";
@import "styles/mixins";

.wrapper {
  @include flex-center-center();
  flex-wrap: wrap;
  margin: $margin-90px auto;
  gap: $gap-20;
  color: $medium-gray-color;

  @media (max-width: $tablet) {
    @include flex-column-center();
  }
}

.label {
  font-size: $fontSize-14px;
  line-height: 20px;
}

.title {
  font-size: $fontSize-24px;
  font-weight: $fontWeight-700;
  line-height: 32px;
}

.icon {
  transition: all 0.5s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  @media (max-width: $tablet) {
    margin: $margin-22px auto;
  }
}
