@import "styles/variables";
@import "styles/mixins";

.wrapper {
  @include blockAnimation();
  position: relative;
  margin: 0 auto;
  padding-bottom: $padding-xs;
  background-color: $lavender-color;
}

.item {
  padding-top: $padding-s;
  width: $width-s;
  color: $primary-color;

  @media (max-width: $tablet) {
    margin: 0 auto;
    text-align: center;
    width: fit-content;
  }
}

.main {
  margin: 0 auto;
  @include flex-center-center;
  gap: 30px;
  flex-wrap: wrap;

  a {
    font-size: $fontSize-xs;
    font-weight: $fontWeight-m;
    line-height: 32px;
    color: $dark-yellow-color;
    transition: all 0.2s ease-in-out;

    &:hover {
      text-decoration: underline;
      text-decoration-color: $dark-yellow-color;
      text-underline-offset: 5px;
    }
  }

  @media (max-width: $tablet) {
    flex-direction: column;
  }
}

.title {
  margin-bottom: $margin-xs;
  font-size: $fontSize-sm;
  font-weight: $fontWeight-m;
  line-height: 40px;
  letter-spacing: -1px;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $dark-yellow-color;
    transform: translateY(5px);
  }

  @media (max-width: $tablet) {
    font-size: $fontSize-xs;
    line-height: 20px;
  }
}

.label {
  margin-bottom: $margin-xs;
  font-size: $fontSize-xxs;
  font-weight: $fontWeight-s;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 3px;
}


.text {
  margin-bottom: $margin-xs;
  font-size: $fontSize-xxs;
  color: $dark-gray-color;
  line-height: 28px;
}

.colorItems {
  width: $width-ml;
  position: absolute;
  display: flex;
  right: 0;
  top: -5%;
  height: 24px;
}

.right {
  width: $width-xs;
  background-color: $purple-color;
}

.left {
  width: $width-ml;
  background-color: $yellow-color;
}


