@import "styles/variables";

* {

  @font-face {
    font-family: 'Advent Pro';
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/adventpro/v23/V8mqoQfxVT4Dvddr_yOwrzaFxV7JtdQgFqXdUAQrGp_zgX5sWCpLHSNPTA.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Advent Pro';
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/adventpro/v23/V8mqoQfxVT4Dvddr_yOwrzaFxV7JtdQgFqXdUAQrGp_zgX5sWCpLQyNPTA.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Advent Pro';
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/adventpro/v23/V8mqoQfxVT4Dvddr_yOwrzaFxV7JtdQgFqXdUAQrGp_zgX5sWCpLcSNPTA.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Advent Pro';
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/adventpro/v23/V8mqoQfxVT4Dvddr_yOwrzaFxV7JtdQgFqXdUAQrGp_zgX5sWCpLnSRPTA.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Advent Pro';
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/adventpro/v23/V8mqoQfxVT4Dvddr_yOwrzaFxV7JtdQgFqXdUAQrGp_zgX5sWCpLpCRPTA.ttf) format('truetype');
  }

  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: 'Advent Pro', sans-serif;

  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  &::-webkit-scrollbar-track {
    background-color: $white-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $dark-yellow-color;
  }

  &::-webkit-scrollbar-thumb:hover,
  &::-webkit-scrollbar-thumb:active {
    background-color: $medium-gray-color;
  }

  &::-webkit-scrollbar-corner {
    background-color: $white-color;
  }


  &::-webkit-scrollbar-thumb:horizontal {
    background-color: $medium-gray-color;
  }

  &::-webkit-scrollbar-thumb:hover:horizontal,
  &::-webkit-scrollbar-thumb:active:horizontal {
    background-color: $medium-gray-color;
  }

}

a {
  color: $white-color;
}


