@import "styles/variables";

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: $height-100pr;
}

.main {
  height: fit-content;
}

.wrapper {
  width: $width-100pr;
}

.errorMessage {
  margin-top: $margin-36px;
  text-align: center;
  font-size: $fontSize-36px;
  color: $purple-color;
}

.button {
  margin: $margin-36px auto;
  width: $width-180px;
  height: $height-56px;
  background-color: $yellow-color;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: $fontWeight-700;
  font-size: $fontSize-18px;
  line-height: 24px;
  color: $primary-color;
  transition: all 0.8s;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $yellow-color;
    color: $white-color;
  }
}

.slide-in {
  display: block;
}

.hidden {
  background-color: #000066;
}
