@import "styles/variables";
@import "styles/mixins";

.wrapper {
  position: relative;
  margin-bottom: $margin-90px;
  width: $width-100pr;
  display: flex;
  justify-content: flex-end;

  @media (max-width: $laptop) {
    flex-direction: column;
    margin-bottom: $margin-90px;
  }

  @media (max-width: $tablet) {
    margin: 0 auto;
    text-align: center;
  }
}

.header {
  position: absolute;
  width: $width-580px;
  padding: $padding-46px;
  top: 0;
  left: 8%;
  background-color: $white-color;
  color: $primary-color;

  z-index: $zIndex-1000;

  @media (max-width: $laptop) {
    width: $width-700px;
  }

  @media (max-width: $tablet) {
    left: 0%;
    width: $width-100pr;
  }
}

.title {
  margin-bottom: $margin-36px;
  font-size: $fontSize-16px;
  font-weight: $fontWeight-500;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 3px;

  @media (max-width: $tablet) {
    font-size: $fontSize-12px;
    line-height: 14px;
    margin-bottom: 0;
  }
}

.headerTitle {
  font-size: $fontSize-48px;
  font-weight: $fontWeight-700;
  line-height: 64px;
  letter-spacing: -2px;

  @media (max-width: $tablet) {
    font-size: $fontSize-28px;
    line-height: 32px;
  }
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 5%;
  width: $width-470px;
  font-size: $fontSize-16px;
  color: $dark-gray-color;
  line-height: 28px;
  z-index: $zIndex-4000;

  @media (max-width: $laptop) {
    text-align: center;
    font-size: $fontSize-12px;
    line-height: 20px;
  }

  @media (max-width: $tablet) {
    display: none;
  }
}
